# Ignore everything
*

# Except the three specific files
!gmail-api-qa-tool.js
!gmail-api-qa-tool-enhanced.js
!gmail-api-qa-tool-autocomplete.js

# Don't ignore .gitignore itself
!.gitignore
